* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-image: url(../images/img@1X.png);
    background-position:  center;
    background-size:cover;
    min-width: 320px;
    height: 560px;
    padding: 20px;
}

.p__span {
    color: #e9ac38;
}

.div__img {
    display: flex;
    justify-content: space-between;
}

.div__h2__p {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 248px;
    margin: auto;
}

.h2__text {
    color: white;
    margin-top: 200px;
}

.p__span__text {
    color: white;
}
@media screen and (min-width: 1300px){
.div__h2__p {
    
}
}